<div class="container myResponsive">
	<p><h1>Newroz Self Care Portal Login</h1></p>
	<div class="jumbotron span3">
	    	<label>UserName</label></div>
		    <p><input type="text" class="span3" id="exampleInputUserName" placeholder="Type User Name Here"/></p>
		    <p><label>Password&nbsp;</label></p>
		    <p><input type="password" class="span3" id="exampleInputUserName" placeholder="Type Password"/><br/></p>
		    <button class="btn btn-primary">Log in</button>
		    <button class="btn">Reset</button>
	</div>
</div>