<link href="/css/signin.css" rel="stylesheet">

<div class="container view1">
   <div class="form-signin" role="form">
      <h2 class="form-signin-heading">Self Care Portal</h2>
      <input type="text" class="form-control" id="UserName" placeholder="Account ID" required autofocus>
      <div id="alert"></div>
      <input type="password" class="form-control" id="Password" placeholder="Password" required>
      <div id="alert1"></div>
      <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
      </label>
      <button id="login" class="btn btn-lg btn-primary btn-block">Log in</button>
   </div>
</div>
<!-- /container -->