<div ng-controller="ratingController">
	<div class="page_header">
		<span>Rating Plan</span>
	</div>

	<div class="fontn_text">Select an account to consult and modify
		and Rating Plan</div>
	<div class="log_text table_text bold1_text">Accounts</div>


	<table class="table_text" border="1" cellspacing="0">
		<tbody>
			<tr class="table1_text">
				<td>Id</td>
				<td>Card No.</td>
				<td>Profile</td>
				<td>Life Cycle</td>
				<td>End Activity</td>
				<td>End Inactivity</td>
				<td>Balance</td>
			</tr>
			<tr class="table2_text">
				<td><a href="#">f0425</a></td>
				<td>12345</td>
				<td>Postpaid</td>
				<td><a> <img src="../img/colour_green_button.png" style="">
						<!-- <div class="logo_img">  -->
				</a> Active</td>
				<td>25/07/2011</td>
				<td>25/07/2012</td>
				<td>1536</td>
			</tr>
			<tr class="table2_text">
				<td><a href="#">f0425</a></td>
				<td>12345</td>
				<td>Postpaid</td>
				<td><a> <img src="../img/orange-button.gif" style="">
						<!-- <div class="logo_img">  -->
				</a>Inactive</td>
				<td>25/07/2011</td>
				<td>25/07/2012</td>
				<td>1536</td>
			</tr>
			<tr class="table2_text">
				<td><a href="#">f0425</a></td>
				<td>12345</td>
				<td>Postpaid</td>
				<td><a> <img src="../img/red_button.gif" style=""> <!-- <div class="logo_img">  -->
				</a>Deactivated</td>
				<td>25/07/2011</td>
				<td>25/07/2012</td>
				<td>1536</td>
			</tr>
			<tr class="table2_text">
				<td><a href="#">f0425</a></td>
				<td>12345</td>
				<td>Postpaid</td>
				<td><a> <img src="../img/colour_green_button.png" style="">
						<!-- <div class="logo_img">  -->
				</a> Active</td>
				<td>25/07/2011</td>
				<td>25/07/2012</td>
				<td>1536</td>
			</tr>
		</tbody>
	</table>




	<div class="profile_summary aligning_text">
		<div class="bold_text">
			<span class="colorn_text">Rating Plan for account</span><span
				class="bold_text">f06425</span>

		</div>
		<div class="alignment_text">
			<div class="paddingw_data">
				<span class="bold1_text colorn_text">Current Rating Plan:</span><span
					class="bold1_text">RAT_IDX_PROF_4</span>
			</div>
			<div class="fontn_text">Select the Rating Plan You want to
				Apply</div>
			<div class="log_text table_text" style="margin-top: 12px;">Rating Plan</div>
			<table class="table_text" border="1" cellspacing="0">
				<tbody>
					<tr class="table1_text ">
						<td>Rating Plan Description</td>
						<td>Rating Plan Index</td>
					</tr>
					<tr class="table2_text">
						<td>
							<form action="">
								<input type="radio" value="RAT_IDX_PROF_1" /> RAT_IDX_PROF_1
							</form>
						</td>
						<td>1</td>
					</tr>
					<tr class="table2_text">
						<td>
							<form action="">
								<input type="radio" value="RAT_IDX_PROF_1" /> RAT_IDX_PROF_2
							</form>
						</td>
						<td>2</td>
					</tr>
					<tr class="table2_text">
						<td>
							<form action="">
								<input type="radio" value="RAT_IDX_PROF_1" /> RAT_IDX_PROF_3
							</form>
						</td>
						<td>3</td>
					</tr>

				</tbody>
			</table>
			<div class="align_left  log_text padding1_data">
				<button	type="button" class="button_color">Apply</button>
			</div>

		</div>
	</div>
</div>