<style>
.navbar-inverse {
background-color : rgb(245, 245, 245);
}

.empty-footer-div {
	margin-top:0px;
	height: 5px;
	margin-bottom: 5px;
	background-color: black;
} 

</style>
<div class="container">
   <div class = " row empty-footer-div "></div>
   <div class="navbar row" role="navigation">
      <div class="navbar-header col-md-6">
         <ol class="breadcrumb">
         	<% _.each(data.tabs , function(data){%>
            <li><a href=<%=data.link%>><%= data.name%></a></li>
            <%});%>
         </ol>
      </div>
      
         <div class="col-md-4 col-md-offset-2">
            <%= data.copyright%>
         </div>
    
   </div>
</div>